# CI-specific requirements for sysmlv2_dls
# Only includes dependencies that are available in CI environments

astropy==7.1.0
numpy==2.3.3
pyerfa==2.0.1.5
PyYAML==6.0.3
packaging==25.0
requests==2.32.5
annotated_types==0.7.0
onshape_client==1.6.3